<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.2.xsd">

    <!-- 指定数据源的配置文件,此处指定了2个配置文件,分别指定数据库的连接信息和 Hibernate 数据源的配置信息 -->
    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:hibernate/db.properties</value>
                <value>classpath:hibernate/config.properties</value>
                <value>classpath:morphia/morphia.properties</value>
            </list>
        </property>
    </bean>

</beans>
