<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="OFF" monitorInterval="300">
  <appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%highlight{[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%t] %-5level %logger{36} - %msg%n}{FATAL=magenta, ERROR=red, WARN=blue, INFO=black, DEBUG=green, TRACE=white}"/>
    </Console>
  </appenders>
  <loggers>
    <!--我们只让这个logger输出trace信息，其他的都是error级别-->
    <root level="info">
      <appender-ref ref="Console"/>
    </root>
  </loggers>
</Configuration>